src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e33831f-bee8-4432-9b1f-b653953916bc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchprocessingFlow" doc:id="a0b8b6f6-f1f7-4ce7-b7fc-995df1030e6e" >
		<http:listener doc:name="Listener" doc:id="e4a1cb1f-f217-4b11-bc59-d195fe412222" config-ref="HTTP_Listener_config" path="/batch"/>
		<ee:transform doc:name="Transform Message" doc:id="62638c5b-1bb0-4184-8219-b5a74d8a2654" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[1,2,3,4,5,6]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessingBatch_Job" doc:id="533b1010-cae3-4894-af71-8efc420a295b" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="389c3f0d-e79f-4f2c-b530-83885054de1f" acceptPolicy="ALL">
					<ee:transform doc:name="Transform Message" doc:id="f2c43301-d7c0-4b8c-bed6-4a6e47d05bef" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload * 10]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="82e63170-e8a1-47bf-93b3-7b7d379f4a25" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="5e2a2031-4f5c-4f0a-9616-1e4556787e2a" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="513dc5f2-397e-4bcc-b8a8-b95ced86d3a5" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
